body{
   font-size: 1rem;
   align-items: center;
   align-content: center;
   text-align: center;
   background-color: #E7E6E5;
   background-image: url(../images/body-wallpaper.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   margin-left: 0;
   margin-right: 0;
   width: 100%;
   font-family: 'Source Serif Pro', serif;
}

button, main, h1{
   margin-bottom: 2%;
}

.container{

}

.row{

}

.col{

}

header{

}

#logo{
   max-width: 100%;
   height: auto;
   margin-bottom: 0;
}

main{

}

#collector-box{
   
}

table{
   width: 50%;
   display: inline-table;
   border-collapse: collapse;
   empty-cells: show;
   margin-top: 0;
   background-color: white;
   box-shadow: 5px 0 10px rgb(162, 159, 139);
}

td{
   border: solid 5px rgb(222, 211, 195);
   padding: 12%;
}

td:hover{
   opacity: 50%;
}

.davy{
   background-color: #d4692c;
   background-image: url(../images/davy-bird.png);
   background-size: 100%;
   color: #D6D8F1;
}

.davy-picture{
   background-color: yellow;
}

.mike{
   background-color: #c18959;
   background-image: url(../images/nez-flower.png);
   background-size: 100%;
   color: #FB7E3E;
}

.peter{
   background-color: #462210;
   background-image: url(../images/peter-shelf.png);
   background-size: 100%;
   color: #F4EB37;
}

.micky{
   background-color: #8F2728;
   background-image: url(../images/micky-balloon.png);
   background-size: 100%;
   color: #BDD63A;
}

footer{

}

img{

}

h1, h2, h3, h4, h5, h6{

}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}